In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn import naive_bayes
from sklearn import cross_validation
from sklearn import linear_model
import matplotlib.pyplot as plt

/Users/abarringer/new_python/.direnv/python-3.5.0/lib/python3.5/site-packages/sklearn/utils/fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [3]:
students_df = pd.read_csv("data/20151014211444871504_dataset.csv", header=None, names=["name", "mbtype", "year",
                                                                                       "house", "gpa"])

In [4]:
students_df["house_num"] = students_df.house.map({"Gryffindor": 1, "Hufflepuff": 2, "Ravenclaw": 3, "Slytherin": 4})

In [4]:
#students_df["type_num"] = students_df.mbtype.map({'ENFJ': 1, 'ISTJ': 15, 'ESTJ': 7, 'ENFP': 2, 'INTJ': 11, 'ENTP': 4,
                                                 # 'ISTP': 16, 'INTP': 12, 'ENTJ': 3, 'ISFJ': 13, 'ISFP': 14, 'ESFP': 6,
                                                 # 'INFP': 10, 'INFJ': 9, 'ESTP': 8, 'ESFJ': 5})

In [ ]:
#students_df["gpa"] = np.round(students_df["gpa"], decimals=2)

In [7]:
new_df = pd.get_dummies(students_df, columns=["mbtype"])

In [8]:
new_df["high_gpa"] = 0

In [10]:
new_df.loc[new_df["gpa"] > 3.4, "high_gpa"] = 1

In [11]:
new_df.head()

,name,year,house,gpa,house_num,mbtype_ENFJ,mbtype_ENFP,mbtype_ENTJ,mbtype_ENTP,mbtype_ESFJ,...,mbtype_ESTP,mbtype_INFJ,mbtype_INFP,mbtype_INTJ,mbtype_INTP,mbtype_ISFJ,mbtype_ISFP,mbtype_ISTJ,mbtype_ISTP,high_gpa
0,Viktor Jigger,1,Ravenclaw,3.090201,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Viktor Jigger,2,Gryffindor,3.350920,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Viktor Jigger,3,Hufflepuff,3.275955,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Viktor Jigger,4,Gryffindor,3.388890,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Viktor Jigger,5,Gryffindor,3.486965,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
new_vars = new_df.drop(["name", "year", "house", "house_num"], axis=1)

In [32]:
new_vars.head()

,gpa,mbtype_ENFJ,mbtype_ENFP,mbtype_ENTJ,mbtype_ENTP,mbtype_ESFJ,mbtype_ESFP,mbtype_ESTJ,mbtype_ESTP,mbtype_INFJ,mbtype_INFP,mbtype_INTJ,mbtype_INTP,mbtype_ISFJ,mbtype_ISFP,mbtype_ISTJ,mbtype_ISTP,high_gpa
0,3.090201,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3.350920,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3.275955,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3.388890,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,3.486965,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [28]:
new_house = new_df.house_num

In [29]:
gnb2 = naive_bayes.GaussianNB()

In [30]:
gnb2.fit(new_vars, new_house)

GaussianNB()

In [58]:
gnb2.predict((3.75, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0))

array([4])

In [38]:
z = tuple(0 for x in range(0, 18))

In [39]:
print(z)

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [82]:
output_df = pd.read_csv("data/20151014211444871504_students_2016.csv", header=None, names=["name", "mbtype", "year",
                                                                                           "gpa"])

In [83]:
output_df["gpa"] = 3.75

In [84]:
new_output_df = pd.get_dummies(output_df, columns=["mbtype"])

In [85]:
new_output_df = new_output_df.drop(["name", "year"], axis=1)

In [86]:
new_output_df["high_gpa"] = 0

In [87]:
new_output_df["house"] = gnb2.predict(new_output_df)

In [88]:
output_df["house"] = new_output_df["house"]

In [89]:
output_df.house = output_df.house.map({1: "Gryffindor", 2: "Hufflepuff", 3: "Ravenclaw", 4: "Slytherin"})

In [90]:
output_df = output_df.drop(["gpa"], axis=1)

In [91]:
output_df.head()

                       name mbtype  year       house
0             Viktor Jigger   ENTJ     6   Ravenclaw
1  Gregory the Smarmy Goyle   ESTP     2  Gryffindor
2        Frank Gregorovitch   ISFJ     5  Hufflepuff
3             Olympe Zabini   ISFP     5   Slytherin
4     Rolanda Grubbly-Plank   ESFP     2   Ravenclaw

In [93]:
output_df.to_csv("data/20151014211444871504_students_2016_out.csv", header=None, index=False)

In [30]:
gnb1 = naive_bayes.GaussianNB()

In [31]:
gnb1.fit(new_vars, new_house)

/Users/abarringer/new_python/.direnv/python-3.5.0/lib/python3.5/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [32]:
for x in range(1, 17):
    y = gnb1.predict((x, 3.75))
    print(x, y)

1 [1]
2 [2]
3 [2]
4 [2]
5 [2]
6 [1]
7 [3]
8 [3]
9 [3]
10 [3]
11 [3]
12 [4]
13 [4]
14 [4]
15 [4]
16 [4]

In [ ]:
students_train, students_test = cross_validation.train_test_split(students_df)

In [7]:
students_vars = students_df[["type_num", "gpa"]]
students_house = students_df["house_num"]

In [14]:
gnb = naive_bayes.GaussianNB()

In [15]:
gnb.fit(students_vars, students_house)

GaussianNB()

In [15]:
students_table = pd.pivot_table(students_df[["house_num", "mbtype", "gpa"]], values="gpa", index="mbtype", columns="house_num")

In [16]:
students_table

house_num         1         2         3         4
mbtype
ENFJ       3.748671  3.252743  3.246905  3.255100
ENFP       3.246965  3.751963  3.248379  3.249871
ENTJ       3.247699  3.250739  3.248969  3.248167
ENTP       3.244946  3.254992  3.246440  3.749520
ESFJ       3.259338  3.749572  3.247985  3.248019
ESFP       3.247267  3.252765  3.752301  3.254380
ESTJ       3.252418  3.244624  3.250126  3.249841
ESTP       3.747594  3.246386  3.246036  3.252259
INFJ       3.249101  3.250782  3.249236  3.249251
INFP       3.249547  3.254138  3.250125  3.242844
INTJ       3.251733  3.253691  3.753188  3.247573
INTP       3.248813  3.251467  3.248782  3.246054
ISFJ       3.246891  3.249866  3.252372  3.248478
ISFP       3.251817  3.251843  3.246940  3.247375
ISTJ       3.249296  3.251282  3.248506  3.751716
ISTP       3.249665  3.253339  3.251954  3.253998