In [37]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn import naive_bayes

In [38]:
students = pd.read_csv("~/travis_python/homework/sorting-hat/data/20151014211444871511_students_2016.csv", 
                       names=["student", "personality", "year"])
students.index = students.personality
students.head()

                              student personality  year
personality
ESTJ          Moaning Myrtle Umbridge        ESTJ     2
ENFJ          Phineas Nigellus Murray        ENFJ     7
INTP             Gwendolyn Ollivander        INTP     7
ESTP                  Helena Fletcher        ESTP     6
INTP         Horace Mimsey-Porpington        INTP     5

In [39]:
df = pd.read_csv("~/travis_python/homework/sorting-hat/data/20151014211444871511_dataset.csv", names=["student", "personality", "year", "house", "gpa"])
df.head()

            student personality  year       house       gpa
0  Agrippa McLaggen        ENTJ     1   Ravenclaw  3.136440
1  Agrippa McLaggen        ENTJ     2  Hufflepuff  3.313986
2  Agrippa McLaggen        ENTJ     3  Hufflepuff  3.369847
3  Agrippa McLaggen        ENTJ     4   Slytherin  3.018218
4  Agrippa McLaggen        ENTJ     5  Gryffindor  3.505454

In [40]:
pivot = pd.pivot_table(df, values=["gpa"], index=["personality"], columns=["house"])
np.round(pivot, decimals=2)

                   gpa
house       Gryffindor Hufflepuff Ravenclaw Slytherin
personality
ENFJ              3.25       3.25      3.75      3.24
ENFP              3.25       3.25      3.25      3.25
ENTJ              3.75       3.25      3.25      3.25
ENTP              3.25       3.25      3.25      3.25
ESFJ              3.25       3.25      3.25      3.25
ESFP              3.25       3.25      3.25      3.25
ESTJ              3.25       3.75      3.25      3.25
ESTP              3.75       3.25      3.25      3.25
INFJ              3.25       3.24      3.25      3.25
INFP              3.25       3.25      3.25      3.25
INTJ              3.25       3.75      3.25      3.25
INTP              3.25       3.24      3.25      3.75
ISFJ              3.25       3.25      3.25      3.25
ISFP              3.25       3.25      3.24      3.25
ISTJ              3.25       3.25      3.75      3.25
ISTP              3.25       3.25      3.25      3.75

In [41]:
def sorting_hat(personality):
    pivot.loc[:, str(personality)].idxmax(axis=0)

# student["house"] = map(sorting_hat(students.personality))

Well, that's the gist of it. Let's try it with a proper machine learning model.

In [42]:
split_df = pd.get_dummies(df, columns=["personality"])
split_df.head()

,student,year,house,gpa,personality_ENFJ,personality_ENFP,personality_ENTJ,personality_ENTP,personality_ESFJ,personality_ESFP,personality_ESTJ,personality_ESTP,personality_INFJ,personality_INFP,personality_INTJ,personality_INTP,personality_ISFJ,personality_ISFP,personality_ISTJ,personality_ISTP
0,Agrippa McLaggen,1,Ravenclaw,3.136440,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Agrippa McLaggen,2,Hufflepuff,3.313986,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Agrippa McLaggen,3,Hufflepuff,3.369847,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Agrippa McLaggen,4,Slytherin,3.018218,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Agrippa McLaggen,5,Gryffindor,3.505454,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [54]:
pivot2 = pivot.reset_index()

In [55]:
pivot2.columns=["personality", 101, 102, 103, 104]

In [56]:
pivot2.personality = pivot2.index

In [57]:
pivot2.head()

   personality       101       102       103       104
0            0  3.254772  3.246936  3.748816  3.243995
1            1  3.251146  3.250755  3.247965  3.248210
2            2  3.750755  3.246474  3.252136  3.248182
3            3  3.250144  3.249813  3.248528  3.251286
4            4  3.254516  3.248185  3.247400  3.250800

In [58]:
mbtype = pivot2.personality.to_frame()
new_house =

In [59]:
pivot2

    personality       101       102       103       104
0             0  3.254772  3.246936  3.748816  3.243995
1             1  3.251146  3.250755  3.247965  3.248210
2             2  3.750755  3.246474  3.252136  3.248182
3             3  3.250144  3.249813  3.248528  3.251286
4             4  3.254516  3.248185  3.247400  3.250800
5             5  3.251105  3.254123  3.248974  3.250466
6             6  3.250083  3.751776  3.249155  3.251374
7             7  3.749217  3.251662  3.251085  3.246982
8             8  3.249724  3.242295  3.247727  3.253306
9             9  3.249438  3.251027  3.250490  3.247503
10           10  3.253757  3.750025  3.251858  3.245084
11           11  3.251179  3.244174  3.247809  3.747676
12           12  3.249556  3.249518  3.252562  3.250661
13           13  3.245852  3.246775  3.244493  3.251737
14           14  3.247453  3.251751  3.753347  3.248250
15           15  3.248199  3.250663  3.248998  3.746401

In [61]:
gnb = naive_bayes.GaussianNB()
gnb.fit(mbtype, pivot2.columns.values)

ValueError: Found arrays with inconsistent numbers of samples: [ 5 16]